
<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  sakdfk sdkjskjhdfkjh skaljhdf skjhdf sajh sajhdf as dkjfhkasjhdf kj sdkfjh skdjhf kajhs fdhask fk s fjh</p>

<%- include("footer") -%>
